<div class="animated fadeIn fast">

  <div class="container">

    <div class="col-auto">
      <form ngNativeValidate (ngSubmit)="search()">
        <div class="row">
          <div class="col-3">
            <label class="float-right mt-md-2" for="departureAutocompleteSelect">Departure</label>
          </div>

          <div class="col-8 float-left">
            <div class="form-group">
              <div class="input-group">
                <input id="departureAutocompleteSelect" type="text" class="form-control" [class.is-invalid]="searchFailedDeparture" [(ngModel)]="departureSelected"
                  (blur)="blurDepartureChange($event.target.value)" [ngbTypeahead]="departure" name="departure" placeholder="Enter departure"
                  required />
                <i *ngIf="searchingDeparture" class="fa fa-user-circle-o"></i>
              </div>
              <div class="invalid-feedback" *ngIf="searchFailedDeparture">Sorry, suggestions could not be loaded.</div>
            </div>
          </div>
          <div class="col-1"></div>

        </div>
        <div class="row">
          <div class="col-3">
            <label class="float-right mt-md-2" for="destinationAutocompleteSelect">Destination</label>
          </div>
          <div class="col-8 float-left">
            <div class="form-group">
              <div class="input-group">
                <input id="destinationAutocompleteSelect" type="text" class="form-control" [class.is-invalid]="searchFailedDestination" [(ngModel)]="destinationSelected"
                  (blur)="blurDestinationChange($event.target.value)" [ngbTypeahead]="destination" name="destination" placeholder="Enter destination"
                  required />
                <i *ngIf="searchingDestination" class="fa fa-user-circle-o"></i>
              </div>
              <div class="invalid-feedback" *ngIf="searchFailedDestination">Sorry, suggestions could not be loaded.</div>
            </div>
          </div>
          <div class="col-1"></div>

        </div>

        <div class="row">
          <div class="col-3">
            <label class="float-right mt-md-2" for="dateTimeTextBox">Date and time</label>
          </div>
          <div class="col-8 float-left">
            <div class="form-group">
              <div class="input-group">
                <input id="dateTimeTextBox" type="datetime-local" class="form-control" [(ngModel)]="dateTimeText" name="datetime" placeholder="Enter date " />
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-11">
            <div class="float-right">
              <button type="submit" class="btn btn-primary mb-md-2">Search</button>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </form>

      <div *ngIf="connectionsList?.length > 0">
        <table class="table table-striped table-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Departure</th>
              <th scope="col">Arrival</th>
              <th scope="col">Total Time</th>
              <th scope="col">Transactions</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let connection of connectionsList">
              <td>{{ connection.sections[0].departure.departure | date:'HH:mm' }}</td>
              <td>{{ connection.sections[0].arrival.arrival | date:'HH:mm'}}</td>
              <td>{{ connection.duration }}</td>
              <td>
                <h3 *ngIf="connection.sections?.length <= 1" data-toggle="tooltip" data-placement="top" title="{{ connection.sections.length }} ">
                  <span class="badge badge-pill badge-success">&nbsp;</span>
                </h3>

                <h3 *ngIf="connection.sections?.length >= 2 && connection.sections?.length <= 4" data-toggle="tooltip" data-placement="top"
                  title="{{ connection.sections.length }} ">
                  <span class="badge badge-pill badge-warning">&nbsp;</span>&nbsp;
                  <span class="badge badge-pill badge-warning">&nbsp;</span>
                </h3>

                <h3 *ngIf="connection.sections?.length > 4" data-toggle="tooltip" data-placement="top" title="{{ connection.sections.length }} ">
                  <span class="badge badge-pill badge-danger">&nbsp;</span>&nbsp;
                  <span class="badge badge-pill badge-danger">&nbsp;</span>&nbsp;
                  <span class="badge badge-pill badge-danger">&nbsp;</span>
                </h3>
              </td>
              <td>Open</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>