<div class="jumbotron jumbotron-fluid animated fadeIn fast">

  <div class="container">
    <h1 class="display-3">Welcome to the Swiss Transport</h1>
    <p class="lead">Providing details from the Swiss transport network</p>


    <div class="row">
      <div class="col">


        <!-- if is not autentificated-->
        <div *ngIf="!_authService.isAutentificated()">
          <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="inputLogin">Login</label>
              <input type="text" formControlName="username" name="username" [(ngModel)]="usernameInput" required 
                class="form-control" id="inputLogin" aria-describedby="loginHelp" placeholder="Enter login">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" formControlName="password" name="password" [(ngModel)]="passwordInput" required 
              class="form-control" id="inputPassword" placeholder="Enter password">
            </div>


            <div *ngIf="loginForm.errors?.invalidCredentials && !loginForm.pristine && formSended" class="alert alert-danger" role="alert">
              Invalid Credentials
            </div>

            <div class="float-right">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

          </form>
        </div>

        <!-- if is  autentificated-->
        <div *ngIf="_authService.isAutentificated()">
          <hr class="my-4">
          <h5>Welcome: {{ _authService.loggedUser?.fullName }}</h5>

          <button type="button" class="btn btn-danger mt-3 float-right"
              *ngIf="_authService.isAutentificated()"
              (click)="_authService.logout()">Logout</button>

        </div>  
      </div>
    </div>
  </div>

</div>