<div class="jumbotron jumbotron-fluid animated fadeIn fast">

  <div class="container">
    <h1 class="display-3">Welcome to the Swiss Transport</h1>
    <p class="lead">Providing details from the Swiss transport network</p>
 

  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="inputLogin">Login</label>
          <input type="text" class="form-control" id="inputLogin" aria-describedby="loginHelp" placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <!-- if is invalid login-->
        <div class="alert alert-danger" role="alert">
            Invalid Credentials
        </div>

        <div class="float-right">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        
      </form>
    </div>
  </div>
</div>

</div>