<nav class="navbar navbar-expand-md navbar-dark bg-primary">

    <a class="navbar-brand" href="#">
        <img src="assets/img/tram.png" width="40" height="40" alt="">
    </a>

    <!-- Responsive for phones-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6" routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6" routerLink="stationboard">Station Board</a>
            </li>

            <li class="nav-item" routerLinkActive="active" *ngIf="authService.isAutentificated()">
                <a class="nav-link h6" routerLink="connections">Connections</a>
            </li>

        </ul>

        <span class="navbar-text">
            <button (click)="login()"
                    *ngIf="!authService.isAutentificated()"
                    type="button"
                    class="btn btn-outline-light">
                    Login
            </button>

            <span class="mr-1" *ngIf="authService.isAutentificated()">{{ authService.loggedUser?.fullName }}</span>
            <button (click)="authService.logout()"
                    *ngIf="authService.isAutentificated()"
                    type="button"
                    class="btn btn-outline-light">
                    Logout
            </button>

        </span>
    </div>
</nav>